/*  ==================
    Mixins
    ================== */

@mixin fonts($font_size, $font_weight: inherit, $font_family: inherit, $color: #fff) {
     font:{
          @if ($font_size == inherit) {
               size: inherit;
          } @else {
               size: #{$font_size}rem;
          }
          weight: $font_weight;
          family: $font_family;
     }
     color: $color;
}

// GRID

@mixin display-grid {
    display: -ms-grid;
    display: grid;
}

@mixin grid-template ($type, $values) {
    @if $type == row {
        -ms-grid-rows: $values;
        grid-template-rows: $values;
    }

    @if $type == column {
        -ms-grid-columns: $values;
        grid-template-columns: $values;
    }
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
    -ms-grid-column: $col-start;
    -ms-grid-column-span: $col-end - $col-start;
    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-end - $row-start;
    grid-column: $col-start / $col-end;
    grid-row: $row-start / $row-end;
}