/*  ==================
    Settings
    ================== */

// Variables of colors
$primary_col: #050608;
$secondary_col: #F9CA24;
$secondary_col_hover: #EABC23;
$secondary_col_focus: #D8AE15;
$dark_col: #111111;
$dark_col_hover: #0D0D0D;
$dark_col_focus: #080808;
$gold_col: #A17836;
$green_col: #27ae60;
$blue_col: #2980b9;
$red_col: #c0392b;

// Variables of time
$vsm_tr: 0.15s;
$sm_tr: 0.3s;
$me_tr: 0.55s;
$lo_tr: 1s;

// Variables of fonts
$title_font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text_font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Variables of sizes
$computer_size: 1600px;
$tablet_size: 1024px;
$mobile_size: 650px;
$small_mobile_size: 480px;

// Variables of Z-index
$very-important_index: 115;
$all-width_index: 110;
$sidebar_index: 100;
$packed_index: 99;
$bar_index: 90;
$help_index: 80;