/*  ==================
    Form
    ================== */

form {
	background-color: $blue_gray_col;
}

input {
	display: block;
	width: 100%;
	height: 50px;
	margin: {
		right: 5px;
		bottom: 8px;
	}
	padding: 2px 2px 0 2px;
	
	outline: none;
	border: none;
	background-color: transparent;

	@include fonts(1.45, 400, $text_font, #fff);

	@include transition(border-bottom $sm_tr);
}

input[type="email"]:invalid {
	@include box-shadow(none);
}

input[type="submit"] {
	border: none;
	background-color: $green_col;

	color: #fff;

	@include transition(background-color $sm_tr);
	cursor: pointer;

	&:hover {
		background-color: $green_col_hover;

		@include transition(background-color $sm_tr);
	}

	&:focus {
		background-color: $green_col_focus;

		@include transition(background-color $sm_tr);
		outline: none;
	}
}

label {
	display: block;
	margin-bottom: 8px;

	@include fonts(1.8, 400, $text_font, #fff);
}