<%- include('./header') %>
	<div class="progress-page-bar">
		<div id="progress-page-bar" class="progress-page-bar_inner"></div>
	</div>
	<!-- Noscript tag delimiter (start) -->
	<noscript>
		<section class="page-content">
			<section class="noscript page-part-wrapper">
				<div class="background-overlay overlay--neutral"></div>
				<div class="page-part-content noscript-content">
					<h1>
						Sorry, to use <i>pSearch </i><img src="/assets/images/favicon.png" alt="pSearch's Logo" class="noscript-icon" /> you have to enable <u>Javascript</u>.
					</h1>
					<div class="noscript-delimitation"></div>
				</div>
			</section>
		</section>
	</noscript>
	<!-- Noscript tag delimiter (end) -->
	<main class="root" id="root" data-state="onload">
	</main>
<%- include('./footer') %>