/*  ==================
    Box
    ================== */

.box {
	&-wrapper {
		@include flexbox((
			display: inline-flex
		));
		margin: 12px 5px;
		padding: 2px;

		background-color: $full-dark-third_col;
	}

	&-inner {
		padding: 8px;

		border: 1px solid $gold_col;

		text-indent: 0;
	}
}
