/*  ==================
    Settings
    ================== */

// Variables of colors
$dark_col: #111111;
$dark_col_hover: #0D0D0D;
$dark_col_focus: #080808;

$light_gray_col: #878787;

$cloud_col: #dcddde;

$gold_col: #A17836;

$yellow_col: #FFF352;

$light_green_col: #7ABA59;
$green_col: #27ae60;
$green_col_hover: #26a75d;
$green_col_focus: #219552;

$blue_col: #2980b9;
// DISCORD COLORS
$discord_col: #738ADB;

$red_col: #c0392b;
// STATE
$positive_col: #26a75d;
$negative_col: #B22222;

// MAIN PALETTE
$main-first_col: #525252;
$main-second_col: #414141;
$main-third_col: #313131;
$main-third--light-special_col: #e87d49;
$main-third--special_col: #e16428;
$main-third--special_col--hover: #e85610;
$main-third--special_col--focus: #e85109;

// FULL DARK PALETTE
$full-dark-first_col: #292929;
$full-dark-second_col: #212121;
$full-dark-third_col: #181718;

// Variables of time
$vsm_tr: 0.15s;
$sm_tr: 0.3s;
$me_tr: 0.55s;
$lo_tr: 1s;

// Variables of fonts
$title_font: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text_font: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Variables of sizes
$big_desktop_size: 1281px; // High res laptops / desktop
$desktop_size: 1025px; // Big landscape tablets, desktops and laptops
$landscape_tablet_size: 801px; // Landscape tablet, low res desktops and laptops
$portrait_tablet_size: 600px; // Portrait tablet
$landscape_smartphone_size: 480px; // Landscape smartphones
$big_portrait_smartphone_size: 400px; // Big portrait smartphones
$smartphone_size: 340px; // Smartphone

// Variables of Z-index
$very-important_index: 115;
$all-width_index: 110;
$sidebar_index: 100;
$packed_index: 99;
$bar_index: 90;
$help_index: 80;