/*  ==================
    Custom Select
    ================== */

@each $name, $active, $bgc, $hov, $foc in (normal, $green_col_focus, $green_col, $green_col_hover, $green_col_focus), (dark, #000, $dark_col, $dark_col_hover, $dark_col_focus) {
	.bar.#{$name} {
		.select-selected {
			display: block;
			width: 100%;
			height: 50px;

			background-color: $bgc;

			@include transition(background-color $sm_tr);

			&:hover {
				background-color: $hov;
			}

			&:focus {
				background-color: $foc;
			}

			.content-wrapper {
				position: relative;
				padding: 10px 20px;

				span {
					display: block;
					margin-right: 22px;

					font-family: $text_font;
				}

				i {
					position: absolute;
					top: 10px;
					right: 10px;

					font-size: 2.6rem;
				}
			}
		}

		.is-selected {
			background-color: #{$active} !important;
		}

		.select-items {
			width: 100%;

			background-color: $bgc;

			&[data-state="folded"] {
				display: none;
			}

			&[data-state="unfolded"] {
				display: block;
			}

			> button {
				width: 100%;
				display: block;

				border-top: 1px solid #fff;

				font-family: "Roboto", $text_font;

				@include transition(background-color $sm_tr);

				&:hover {
					background-color: $hov;
				}

				&:focus {
					background-color: $foc;
				}
			}
		}
	}
}