/*  ==================
    Dashboard
    ================== */

$dashboard-max-w: 1500px !important;

.dashboard {
    &-container {
        
    }

    &-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;

        background-color: $main-second_col;
        border-right: solid 1px $light_gray_col;

        &_wrapper {
            width: 400px;
            height: 100%;
            margin-right: 400px;
        }
    }

    &-menu {
        width: 75px;
        height: 100%;

        background-color: $main-third_col;
    }

    &-main {
        margin-left: 400px;
    }

    &-header {
        background-color: $main-second_col;

        .container {
            max-width: $dashboard-max-w;
        }

        &_review {
            &--container {
                width: 100%;
            }

            &--content {
                width: 100%;
            }
        }
    }

    &-body {
        max-width: $dashboard-max-w;

        &--line {
            margin-bottom: 30px;
        }

        &_box {
            &--wrapper {
                margin: -7.5px;
                height: 350px;
            }

            &--vertical {
                height: 170px;
                margin-bottom: 18px;
            }

            width: 100%;
            height: 100%;

            @include border-radius(10px);
            background-color: $main-second_col;
        }
    }
}