/*  ==================
    Pub Display
    ================== */

.pub-display {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,.3);

	z-index: $all-width_index;

	&-wrapper {
		position: relative;
		display: flex;
		width: 90vw;
		height: 100vh;
		margin: auto;
		padding: 10px 0;
	}

	&-pub {
		@include flexbox((
			display: flex
		));
		margin: auto;
		width: 100%;
		height: 100%;
	}

	&-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		@include flexbox((
			display: flex
		));
		align-items: center;
		width: 100%;
		height: 10vh;
		margin-bottom: 10px;

		background-color: rgba(0,0,0,.5);

		opacity: 0.4;
		@include transition($sm_tr opacity ease-in-out);

		&:hover {
			opacity: 1;
			@include transition($sm_tr opacity ease-in-out);
		}
	}

	&-button {
		margin-left: 10px;
	}
}