/*  ==================
    Media Top Bar
	================== */

@media screen and (max-width: 646px) {
	.topbar {
		&--underlined.is-in-sticky {
			display: block;
			margin-left: 50px;
		}

		&_menu {
			&-icon {
				position: absolute;
				top: 50%;
				left: -2px;
				margin: 0;

				@include transform(translateX(50%) translateY(-50%));
			}
		}
	}
}

@media screen and (min-width: $landscape_smartphone_size) {
	#topbar_options-menu {
		display: none;
		&_header {
			display: block;
		}
	}
}

@media screen and (max-width: $landscape_smartphone_size) {
	.topbar {
		&_header {
			@include flexbox((
				flex-direction: column !important
			));
			align-items: center;

			&-icon {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}

		&_options {
			margin-left: 0;
		}
	}

	#topbar_options-menu {
		display: block;
		&_header {
			display: none;
		}
	}
}