/*  ==================
    Media Hero
    ================== */

@media screen and (max-width: 1245px) {
    .hero {
        &_footer {    
            &-resume {
                &_text {
                    display: block;
                }

                &_image {
                    display: flex;
                    margin: 25px auto;
                }
            }
        }
    }
}

@media screen and (max-width: $small_mobile_size) {
    .hero {
        &_footer {    
            &-resume {
                &_title {
                    font-size: 2.8rem;
                }

                &_paragraph {
                    font-size: 1.8rem;
                }
                
                &_image {
                    width: 320px;
                    min-height: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .hero {
        &_footer {    
            &-resume {
                &_image {
                    width: 240px;
                }
            }
        }
    }
}