/*  ==================
    Top Bar
	================== */
	
%topbar_bars {
	@include flexbox((
		display: flex,
		flex-direction: row !important
	));
	align-items: center;
	padding: 25px 2.5% !important;
}

.topbar {
	padding-bottom: 0;
	align-items: center;

	&--underlined {
		@include inline-block(middle);

		font-weight: 400;

		&::after {
			display: block;
			content: '';
			width: 0;
			height: 2px;

			background-color: #fff;

			@include transition($sm_tr width);
		}

		&:hover::after {
			width: 100%;

			@include transition($sm_tr width);
		}
	}

	&_options {
		@include flexbox((
			flex: 0 0 auto
		));
		margin-left: 25px;

		& > * {
			margin: 0 10px;
		}
	}

	&_button {
		@include inline-block(middle);

		&[data-sidebar="left"]{
			display: none;
		}
	}

	&_header {
		@extend %topbar_bars;
		padding-bottom: 0 !important;

		&-icon {
			@include flexbox((
				flex: 1 1 auto
			));
			margin-right: 30px;

			img {
				width: 40px;
				height: 40px;
				margin: {
					top: 5px;
					right: 10px;
				}
			}

			h1 {
				@include inline-block(top);
			}
		}
	}

	&_menu {
		@extend %topbar_bars;
		height: 98px;

		&-heading {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 5px;

			background: $green_col;
		}

		&-wrapper {
			width: 100%;
			
			z-index: $bar_index;

			&.is-sticky {
				background-color: rgba(0,0,0,.8);
			}
		}

		&-links {
			@include flexbox((
				flex: 1 1 auto
			));
			align-self: center;

			& > * {
				@include inline-block(middle);
				margin: 0 15px;
			}
		}

		&-icon {
			width: 30px;
		}
	}

	& > .page-part-content {
		position: static;
		width: 100%;
	}
}