/*  ==================
    Form
    ================== */

%input_rule-form {
	display: block;
	width: 100%;
	height: 50px;
	margin: {
		bottom: 8px;
	}
	padding: 2px 2px 0 2px;
	
	outline: none;
	border: none;
	background-color: transparent;

	@include fonts(1.45, 400, $text_font, #fff);

	@include transition(border-bottom $sm_tr);
}

%input_submit_rule-form {
	border: none;
	background-color: $main-third--special_col;

	color: #fff;

	@include transition(background-color $sm_tr);
	cursor: pointer;

	&:hover {
		background-color: $main-third--special_col--hover;

		@include transition(background-color $sm_tr);
	}

	&:focus {
		background-color: $main-third--special_col--focus;

		@include transition(background-color $sm_tr);
		outline: none;
	}
}

form {
	width: 500px;
	
	background-color: $main-third_col;
	@include box-shadow(0px 0px 7px 1px rgba(0, 0, 0, 0.14));
	
	overflow: hidden;

	input {
		&:-webkit-autofill {
			-webkit-text-fill-color: #fff !important;
			@include box-shadow(0 0 0px 1000px $main-third_col inset !important);
		}
	}
}

input {
	@extend %input_rule-form;
}

input[type="checkbox"] {
	width: 25px;
	height: 25px;
}

// [type="checkbox"]:not(:checked),
// [type="checkbox"]:checked {
//   position: absolute;
//   left: -9999px;
// }

input[type="email"]:invalid {
	@include box-shadow(none);
}

input[type="submit"] {
	@extend %input_submit_rule-form;
}

button[type="submit"] {
	@extend %input_rule-form;
	@extend %input_submit_rule-form;
}

label {
	display: block;
	margin-bottom: 8px;

	@include fonts(1.8, 400, $text_font, #fff);
}
